*{
	margin:0;
	padding:0;
	}
@font-face{
	font-family: superhero;
	src: url(../fonts/super_hero/intsh.otf);
	}
html{
    height:100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:top center;
}
#top ul{
	position: fixed;
	list-style-type: none;
	background-color: white;
	opacity: .3;
	width: 100%;
	padding: 0.8em 0.8em 0.8em 0.8em;
	text-align: center;
	}
#top li{
	display: inline;
	padding-right: 5em;
	}
#top a:link, #top a:visited{
	font-family: superhero;
	text-decoration: none;
	color: darkorange;
	font-size: 1.4em;
	}
#top a:hover, #top a:active{
	color: brown;
    cursor:pointer;
	}
#hiddenNav.overlay{
    visibility: hidden;
}
#open{
    visibility: hidden;
}
/*p{
	width: 14em;
	float: right;
	margin-right: 7em;
	margin-top: 13em;
	font-family: superhero;
	font-size: 1.2em;
	}
p a:link, p a:visited{
	color: black;
	font-size: 1.8em;
	}
p a:hover, p a:active{
	color: brown;
	transition-duration: .2s;
	}*/
.flip a{
    position:fixed;
    top:46%;
    color:white;
    opacity:.5;
    font-size:2.5em;
    text-decoration:none;
    font-family:courier new;
}
.flip a:hover{
    color: brown;
	transition-duration: .2s; 
}
.flip#right a{
    right:0;
    margin-right:15px;
}
.flip#left a{
    left:0;
    margin-left:15px;
}
